# Ignore node_modules to prevent unnecessary copying
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts and environment files
dist
.env
.git
.gitignore
Dockerfile
docker-compose.yml

# Ignore OS/macOS system files
.DS_Store
Thumbs.db
